$containerwidth: 1100px;
$baseFontsize: 16px;

$tablets: 768px;
$phones: 480px;

$lightGrey: #F8FAF9;
$grey: #f5f5f5;
$red: #E01F3D;
$body: #666666;
$black: #292929;

$z-fixed-menu: 100;

@import './media.scss';

@import "layout.scss";

@import './components/_button.scss';
@import './components/_feature.scss';
@import './components/_features.scss';
@import './components/_header.scss';
@import './components/_welcome.scss';
@import './components/_section.scss';
@import './components/_headline.scss';
@import './components/_benefits.scss';
@import './components/_benefit.scss';
@import './components/_benefits-section.scss';
@import './components/_reviews.scss';
@import './components/_interactive-avatar.scss';
@import './components/_reviews-section.scss';
@import './components/_order-section.scss';
@import './components/_form.scss';
@import './components/_radio.scss';
@import './components/_fixed-menu.scss';
@import './components/_hamburger.scss';
@import './components/_contacts.scss';
@import './components/_footer.scss';
@import './components/_socials.scss';
@import './components/_slider.scss';
@import './components/_shop-section.scss';
@import './components/_dropdown-menu.scss';
@import './components/_fullscreen-menu.scss';







