.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }
}


.benefit__image-wrapper {
  display: inline-block;
  height: rem(128px);
  width: rem(128px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: rem(24px);
}

.benefit__icon {
  width: rem(65px);
  height: rem(65px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__text {
  @include phones {
    padding-top: 2%;
  }
}

.benefit__title {
  font-size: rem(24px);
  font-weight: 700;
  
  @include phones {
    margin-left: 6%;
    margin-bottom: 1%;
  }
}

.benefit__desc {
  color: $body;
  padding: 0% 9%;

  &:last-child {
    padding: 0% 6%;
  }
}