.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  @include tablets {
    padding: 0% 0%;
  }

  &::before {
    content: url(../img/whysection/shapes.svg);
    position: absolute;
    top: rem(50px);
    right: 0;
    transform: translateX(50%);

    @include tablets {
      display: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}