.benefits-section {
  position: relative;

  &::before {
    position: absolute;
    content: url(../img/whysection/triangle.svg);
    bottom: rem(-19px);
    left: 24%;
    z-index: 100;

    @include tablets {
      left: 10%;
    }
  }
}

.benefits__container {
  @include tablets {
    padding: 25% 0%;
  }

  @include phones {
    padding: 10% 0%;
  }
}
