.button {
  font-weight: 700;
  text-decoration: none;
  padding: rem(18px) rem(38px);
  text-transform: uppercase;
  background: $red;
  border-radius: rem(100px);
  color: #fff;
  letter-spacing: rem(1px);
  border: none;
  
  &--welcome--button {
    &:hover {
      background: $black;
      transition: 0.2s;
    }
  }

  &--shop--button {
    &:hover {
      background: $black;
      transition: 0.2s;
    }
  }

  &--order--button {
    cursor: pointer;
    &:hover {
      background: #fff;
      transition: 0.2s;
      color: $black;
    }
  }

  &--transparent--button {
    background: transparent;
    font-weight: 400;
    padding: 0%;
    margin-left: rem(15px);
    text-transform: none;
    cursor: pointer;

    &:hover {
      color: $red;
      transition: 0.2s;
    }
  }
}
