.contacts {
  font-style: normal;

  @include phones {
    margin-bottom: rem(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__place {
  @include phones {
    font-size: rem(18px);
  }
}

.phone-number__text {
  @include phones {
    font-size: rem(14px);
  }
}