.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 21px;

  &:last-child {
    margin-right: 0px;
  }
}

.menu__link {
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;

  &:hover {
    color: $red;
    transition: 0.2s;
  }
}

.phone-number {
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    color: $red;
    transition: 0.2s;
  }
}

.phone-number__icon-elem {
  width: 13px;
  height: 13px;
  margin-right: 6px;
  margin-top: 2px;
}

.menu__link {
  font-size: 20px;
  text-decoration: none;
}