.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.726);
  top: 0;
  left: 0;
  display: none;
}

.modal__content {
  background-color: #fff;
  width: rem(310px);
  height: rem(176px);
  padding: rem(35px) rem(53px); 
}

.modal__content, .modal__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__text {
  font-size: rem(18px);
  margin-bottom: rem(15px);
}

.button--modal--button {
  &:hover {
    background-color: $black;
    transition: 0.3s;
  }
}