.order-section {
  background: url(../img/ordersection/background.png) center center no-repeat;
  position: relative;
  color: #fff;

  &::before {
    position: absolute;
    content: url(../img/ordersection/polygon.svg);
    top: rem(-24px);
    right: 24%;

    @include tablets {
      right: 10%;
    }
  }
}

.order-section__container {
  @include phones {
    padding: 15% 0%;
  }
}

.section__title {
  @include phones {
    margin-bottom: 5%;
  }
}

