.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-bottom: rem(10px);

  &--checkbox {
    .radio__visible {
      border-radius: rem(4px);

      &::before {
        background: url(../img/ordersection/tic.svg) center center no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  height: rem(26px);
  width: rem(26px);
  border-radius: 50%;
  position: relative;
  background: #fff;

  &::before {
    content: '';
    width: rem(14px);
    height: rem(14px);
    background: $red;
    display: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio__title {
  margin-left: rem(10px);
  margin-right: rem(20px);
  padding-top: rem(2px);
}

.form__buttons {
  padding-top: rem(25px);
}