.radio {
  display: flex;
  cursor: pointer;
  user-select: none;

  &--checkbox {
    .radio__visible {
      border-radius: 4px;

      &::before {
        background: url(/img/ordersection/tic.svg) center center no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  position: relative;
  background: #fff;

  &::before {
    content: '';
    width: 14px;
    height: 14px;
    background: $red;
    display: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio__title {
  margin-left: 10px;
  margin-right: 20px;
}

.form__buttons {
  padding-top: 25px;
}