.shop__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__list {
  display: flex;
  position: relative;
  transition: right 0.3s;

  @include tablets {
    flex-direction: column;
  }
}

.slider__item {
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.slider {
  padding-left: rem(33px);
  width: 100%;

  @include tablets {
    padding-left: 0;
  }

  @include phones {
    padding-left: 0;
  }
}

.slide {
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.arrow {
  z-index: 100;
  position: absolute;
  top: 45%;

  @include tablets {
    top: 22%;
  }
}

.arrow__left {
  left: 0%;

  @include tablets {
    left: 15%;
  }

  @include phones {
    left: 0%;
  }
}

.arrow__right {
  right: 0%;

  @include tablets {
    right: 15%;
  }

  @include phones {
    right: 0%;
  }
}