.shop__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__list {
  display: flex;
  position: relative;
  transition: right 0.3s;

  @include tablets {
    flex-direction: column;
  }
}

.slider__item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.slide {
  display: flex;

  @include tablets {
    flex-direction: column;
  }
}

.slick-track {
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}