.welcome {
  background-color: $grey;
  height: 100vh;
  min-height: 650px;
  position: relative;

  &::before {
    position: absolute;
    content: url(../img/welcome/rectangle.png);
    bottom: -30px;
    right: 28%;
  }
}

.welcome__title-section {
  width: 36%;
}

.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 106px 70px 80px;
  background: url(../img/welcome/beats.png) right 16% center / 44% auto no-repeat;
}

.welcome__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.welcome__title-desc {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-size: 21px;
  margin-bottom: 54px;
}