.button {
  font-weight: 700;
  text-decoration: none;
  padding: 18px 38px;
  text-transform: uppercase;
  background: #E01F3D;
  border-radius: 100px;
  color: #fff;
  letter-spacing: 1px;

  &:hover {
    background: #292929;
  }
}